.site-footer{
    background-color: black;
    color: white;
    display: flex;
    
    flex-wrap: column;
    
    .ligne-footer{
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        display: flex;
    }

}